@font-face {
    font-family: Dark;
    src: url(../fonts/Ghostz-77qw.ttf);
}

@font-face {
    font-family: Wood;
    src: url(../fonts/Rimba.ttf);
}

@font-face {
    font-family: HandFont;
    src: url(../fonts/Hello_January_script_cyrillic_Script.otf);
}

body{
    margin: 0;
}
*{
    padding: 0;
    list-style: none;
    text-decoration: none;
}