body{
    background-image: url(../img/hobbit-7457589_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        width: 100%;
        height: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
}

/* ! Main Section */
.secti{
    height: 900px;
    width: 800px;
    display: grid;
    justify-items: center;
    align-content: center;

}

.MainBanner{
    width: 800px;
    background-image: url(../img/WelcomeWood.PNG);
    background-position: center;
    background-size:  750px 150px;
    background-repeat: no-repeat;
}
/* ! Banner - Logo */
.Banner{
    /* background-image: url(../img/WelcomeWood.PNG);
    background-size:600px 180px;
    background-repeat: no-repeat; 
    background-position:center; */
    text-align: center;
    font-size: 35px;
    color: #deb887;
    text-shadow: 
     5px  5px 10px black,  /*  Нижний - Справа */
     5px -5px 10px #deb887,  /*  Нижний - Слева */
    -5px  5px 10px black,  /* Верхний - Справа */
    -5px -5px 10px black; /* Верхний - Слева */
    h1{
        box-shadow: inset;
        margin: 0;
        margin-left: 25px;
        font-family: Wood;
        padding: 0;
    }
}

/* ! ButtonMenu */

.ButtonMenu{
    /* display: grid;
    align-content: center;
    justify-items: center; */
    margin-top: 100px;
    div{
        background-image: url(../img/buttonWood.PNG);
        background-size: cover;
        display: flex;
        height: 110px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: Wood;
        text-align: center;
        width: 300px;
        border-radius: 1px;
        margin: 2px;
        img{
            margin-right: 10px;
            width: 60px;
            
        }
        p{
            font-size: 29px;
            color: #deb887;
        }
    }
    div:hover{
        transition-duration: 0.7s;
        transform: scale(1.03);
        p{
            transition-duration: 0.7s;
            color: #987f5e;
            transform: scale(1.1);
        }
        img{
            transform: scale(1.05);
            transition: filter 0.7s ease;
            filter: brightness(0) invert(1);
        }
    }
}

.DevWindow{
    font-family: Dark;
    height: 500px;
    width: 400px;
    background-image: url(../img/Book.png);
    background-position: center;
    background-size: 500px 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    position: absolute;
    text-align: start;
    .bookWindow{
        width: 330px;
        height: 340px;
        p{

        }
    }

    .press{
        cursor: pointer;
        width: 300px;
        background-image: url(../img/buttonWood.PNG);
        background-repeat: no-repeat;
        background-size: 230px 70px;
        background-position: center;
        text-align: center;
        position: absolute;
        p{
            color: white;
            font-size: 20px;
            margin-left: 5px;
        }
    }

    .press:hover{
        transition-duration: 0.7s;
        transform: scale(1.03);
        p{
            transition-duration: 0.7s;
            color: #b6a287;
            transform: scale(1.03);
        }
        img{
            transform: scale(1.05);
            transition: filter 0.7s ease;
            filter: brightness(0) invert(1);
        }
    }

}

